/* Font from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Universal Styles */
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Body positioning to make sure it stacks cleanly */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
/* Home Page */

.home {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    animation: fadeIn 3s;
}

.home h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.home p {
    font-size: 20px;
    line-height: 1.6;
    max-width: 600px;
    margin-bottom: 30px;
}

.get-started {
    display: inline-block;
    background-color: #f5c518;
    color: #222;
    text-decoration: none;
    padding: 14px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s;
}

.get-started:hover {
    background-color:black;
    color: white;
}

/* KEY FRAMES*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}