/* Font from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Universal Styles */
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Body positioning to make sure it stacks cleanly */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
/* Home Page */

.home {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    animation: fadeIn 3s;
}

.home h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.home p {
    font-size: 20px;
    line-height: 1.6;
    max-width: 600px;
    margin-bottom: 30px;
}

.get-started {
    display: inline-block;
    background-color: #f5c518;
    color: #222;
    text-decoration: none;
    padding: 14px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s;
}

.get-started:hover {
    background-color:black;
    color: white;
}

.back-home {
    width: 30%;
    display: block;
    text-align: left;
    margin-top: 30px;
    color: #222;
    text-decoration: none;
}

.back-home:hover {
    color: #f5c518;
}

.auth-page{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.auth-card {
    width: 100%;
    max-width: 450px;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.auth-card form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.auth-card label {
    padding-top: 20px;
    width: 90%;
    margin-bottom: 6px;
    text-align: left;
    font-weight: bold;
}

.auth-card input{
    display: flex;
    padding: 40px 20px;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.auth-button {
    padding: 12px;
    background-color: #f5c518;
    color: #222;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
    width: 40%;
    
}

.auth-button:hover {
    background-color: #222;
    color: white;
}

.auth-link {
    text-align: center;
    margin-top: 20px;
}

.auth-link a {
    color: #222;
    font-weight: bold;
    text-decoration: none;
}

.auth-link a:hover {
    color: #f5c518;
}

/* KEY FRAMES*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}